body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
    text-align: center;
}

.container {
    xmin-width: 900px;
}

.jumbotron {
	border-radius: 5px;
	background: Linear-gradient(#a6dba0, #D2EFCF);
}

.col-md-6 {
	border-radius: 5px;
	
}

#water {
	background: linear-gradient(#B5E2DB, #E0F4F1);
}

#land {
	background: linear-gradient(#F4E5C0, #FCF4E1);
}
