body {
    margin: 20px;
    line-height: 26px;
    text-align: center;
}

.jumbotron {
	border-radius: 5px;
	background-color: #08519c;
	background: #08519c;
	color: white;
}

h2 {
	color: #08519c;
	background-color: white;
}

#maps {
	
}

#visual {
	
}
